@media (min-width: 820px) {
  .header {
    flex: 1;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }

  .header > div:first-child {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header > div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 819px) {
  .header {
  }

  .header > div:first-child {
    position: absolute;
    top: 100px;
    left: 0;
    height: calc(100% - calc(100px + 70px));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .header > div:first-child > h3,
  .header > div:first-child > p,
  .header > div:first-child > div {
  }
}

@media (min-width: 500px) and (max-width: 819px) {
  .header > div:last-child {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 499px) {
  .header > div:last-child {
    display: none;
  }
}
