@media (min-width: 720px) {
  .mobileNavBarButtonContainer {
    display: none;
  }
  .container {
    width: 100%;
    height: 100px;
  }

  .mobileNavBackground {
    display: none;
  }

  .container > .links {
    flex-direction: row;
    align-items: center;
  }
}

@media (max-width: 719px) {
  .mobileNavBarButtonContainer {
    display: block;
    height: 100px;
  }
  .container {
    padding: 20px;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    min-width: 100px;
    height: 100vh;
    flex-direction: column;
    background-color: var(--primary);
    box-shadow: 2px 0px 5px 0px rgba(50, 50, 50, 0.75);
  }

  .mobileNavBackground {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    z-index: 1;
  }

  .container > .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .container > .links {
    flex-direction: column;
    flex: 1;
    z-index: 3;
  }
}

.container {
  display: flex;
  justify-content: space-between;
}

.container > .links {
  display: flex;
}
