.navigationBarItem.navigationBarItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: "center";
  --columnGap: 10px;
  --rowGap: 0px;
  cursor: pointer;
  height: 63px;
  padding: 20px;
  color: initial;
  text-decoration: none;
  margin: calc(var(--rowGap) / -2) calc(var(--columnGap) / -2);
}

.navigationBarItem > * {
  margin: calc(var(--rowGap) / 2) calc(var(--columnGap) / 2);
}

.navigationBarItem:hover > p {
  font-weight: 900 !important;
}
