:root {
  --primary: var(--white);
  --primaryContrast: var(
    --darklightgrey
  );
  --secondary: var(--darkblue);
  --secondaryText: var(--black);
  --white: #f3f3f3;
  --darkwhite: #f0f0f0;
  --lightgrey: rgb(247, 247, 247);
  --darklightgrey: rgb(172, 171, 171);
  --red: red;
  --orange: #e67e22;
  --blue: #00739d;
  --darkblue: #165c6f;
  --darkbluelight: #2d6c7d;
  --lightblue: #d0dee2;
  --green: #28b463;
  --yellow: #f4d03f;
  --black: #000;
}
