body {
  font-family: "Source Sans Pro",
    sans-serif;
  margin: 0px;
  font-size: 16px;
  overflow-x: hidden;
  padding: 0px 20px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: initial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin: 0px;
}
